.word-meaning-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.toolbar-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.word-container {
    text-align: center;
}

.meaning-container {
    text-align: center;
}

.topic-title-input {
    width: 80%;
}

.topic-title-container {
    display: flex;
    justify-content: center;
}

.summary-container {
    width: 400px
}

.student-info-container {
    display: flex;
    justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  border-bottom: 2px solid #ccc;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px 12px;
}
