.word-meaning-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.toolbar-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.word-container {
    text-align: center;
}

.meaning-container {
    text-align: center;
}

.topic-title-input {
    width: 80%;
}

.topic-title-container {
    display: flex;
    justify-content: center;
}

.summary-container {
    width: 400px
}